body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
}

.memory-game {
    display: grid;
    grid-template-columns: repeat(4, 100px);
    gap: 10px;
    position: relative;
}

.players {
    position: absolute;
    top: 50px;
    left: 50px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    font-size: 3em;
}

.player {
    margin-bottom: 10px;
}

.player .score {
    color: black; 
}

.player.current {
    background-color: #ffc107; 
    font-weight: bold;
    color: white;
}


.card {
    width: 100px;
    height: 100px;
    perspective: 1000px;
    transform-style: preserve-3d;
    cursor: pointer;
}



.cardInner {
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: transform 0.5s;
    transform: rotateY(180deg);
}

.cardOpen .cardInner {
    transform: rotateY(0deg);
}

.cardFront,
.cardBack {
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    backface-visibility: hidden;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
}

.cardFront {
    transform: rotateY(180deg);
}

.cardMatch .cardInner {
    transform: rotateY(0deg);
    pointer-events: none;
}
