body {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f3e5c7;
}

.title {
    margin-top: 20px;
    font-family: 'Pixelify Sans';
    font-size: 2rem;
}

.memory-game {
    display: grid;
    grid-template-columns: repeat(4, 120px);
    gap: 10px;
    position: relative;
}

.players {
    position: absolute;
    top: 50px;
    left: 50px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    font-size: 3em;
    font-family: 'Rubik', sans-serif;
    background-color: #f3e5c7;
    border: 2px solid #D2B48C;
    min-height: 100px; 
    /* text-align: center; */
}

.player {
    padding: 10px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
}

.player .score {
    color: black;
    font-family: 'Rubik', sans-serif;
    text-align: right;
    width: 40px;
}

.player.current {
    background-color: #ffd555;
    border: 2px solid rgb(255, 209, 72);
    color: black;
    font-family: 'Rubik', sans-serif;
    font-size: 3rem;
    width: 100%

}
.player.current .score {
    width: 50px; 
}


.card {
    width: 100px;
    height: 140px;
    perspective: 1000px;
    transform-style: preserve-3d;
    cursor: pointer;
}



.cardInner {
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: transform 0.5s;
    transform: rotateY(180deg);
}

.cardOpen .cardInner {
    transform: rotateY(0deg);
}


/* this is teh side that shows the design */
.cardFront {
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    backface-visibility: hidden;
    border: 1.5px solid rgba(181,44,44,255);
    border-radius: 5px;
    background-color: rgba(181,44,44,255);
}

.cardFront img {
    width: 100%;
    height: 100%;
}


/* this is the side that shows the images */
.cardBack {
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    backface-visibility: hidden;
    border: 2px solid rgb(18, 17, 22);
    border-radius: 5px;
    /* background-color: #DDDDDD; */
    background-color: rgb(240, 240, 240);

}

.cardBack img {
    width: 80%; 
    height: 80%;
}

.cardFront {
    transform: rotateY(180deg);
}

.cardMatch .cardInner {
    transform: rotateY(0deg);
    pointer-events: none;
}

/* doenst mean you die :)  */
.game-over-message{
    display: none; 
    font-family: 'Rubik', sans-serif;
    text-align: center;
    margin-top: 10px;
    font-size: 1rem;
}

#winner-message {
    background-color: #f98655;
    color: #1a1a1a;
    padding: 10px 20px;
    border-radius: 5px;
    border: 2px solid #0b0b7d;
    font-family: 'Rubik', sans-serif;
    display: inline-block;
}

#restart-button {
    position: absolute;
    top: 50%;
    right: 15%;
    /* background-color: #4ABF77; */
    background-color: #FFBF00;
    color: rgb(16, 13, 13);
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 1rem;
    border-radius: 5px;
    transition: transform 0.2s ease, background-color 0.3s ease;
    font-family: 'Pixelify Sans';
    border: 1.5px solid #000080;
}

#restart-button:hover {
    background-color: #FF5722;
    transform: scale(1.10); 
    color: white;
}


.go-back-button {
    position: fixed;
    top: 10px;
    right: 10px;
    background-color: #b1ff3b;
    color: black;
    padding: 10px 20px;
    border-radius: 5px;
    border: 1.5px solid #09c036;
    text-decoration: none;
    transition: background-color 0.3s ease;
    font-family: 'Pixelify Sans';
}

.go-back-button:hover {
    background-color: #FFBF00;
    border: 1.5px solid #ffd91a;
}